*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 70px;
    color: white;
    animation: flicker 1.5s infinite alternate;
}

td{
    color: white;
    text-align: center;
    width: 1vw;
    border: 1px solid white;
    font-weight: 600;
    size: 15px;
}

p{
    font-size: 35px;
}

.none{
    border: none;
}

.num{
    text-align: left;
}

.subtext{
    font-size: 15px;
}

.skyblue{
    border-color: aqua;
    color:aqua;
}

.color0{
    color: rgb(145, 235, 145);
    border-color: rgb(145, 235, 145);
}

.color1{
    color: rgb(241, 20, 241);
    border-color: rgb(241, 20, 241);
}

.color2{
    color: red;
    border-color: red;
}

.color3{
    color: orange;
    border-color: orange;
}

.color4{
    color: rgb(9, 243, 165);
    border-color: rgb(9, 243, 165);
}

.color5{
    color: yellow;
    border-color: yellow;
}
.color6{
    color: blue;
    border-color: blue;
}

.color7{
    color: rgb(235, 133, 235);
    border-color: rgb(235, 133, 235);
}

.color8{
    color: rgb(66, 211, 66);
    border-color: rgb(66, 211, 66);
}

.color9{
    color: rgb(250, 236, 113);
    border-color: rgb(250, 236, 113);
}

@keyframes flicker{
    0%, 17%, 33%, 50%, 66%, 83%, 100%{
        text-shadow:
        0 0 10px #fff,
        0 0 20px #0fa,
        0 0 40px #0fa,
        0 0 70px #0fa,
        0 0 110px #0fa,
        0 0 160px #0fa
    }

     20%, 40%, 60%, 80%{
     text-shadow: none;
    }
}

td:hover{
    filter: brightness(500%);
}
