.content{
    background-image: url(..//images/hayy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content img{
    height:200;width:200;
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
}
h1{
    text-align: center;
    color: black;
    animation: flicker 1.5s infinite alternate;
}
p{
    text-align: center;
    color: black;
}
#home{
    height: 750px;
    background-image: url(..//images/nice.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.color1{
    color: aquamarine;
}
.color2{
    color: rgb(8, 6, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
}
.pic1{
    height:200;width:200;
    border-radius: 50%;
}
#aboutme{
    height: 750;
    background-image: url(..//images/about.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
#contact{
    height: 750px;
    background-image: url(..//images/palma.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.myy{
    height: 100;
    width: 100;
    display: inline-block;
}
.meeee{
    text-decoration: double;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(27, 4, 49) ;
}
@keyframes flicker{
    0%, 17%, 33%, 50%, 66%, 83%, 100%{
        text-shadow:
        0 0 10px #2b1414,
        0 0 20px rgb(255, 60, 0),
        0 0 40px #0fa,
        0 0 70px rgb(5, 1, 248),
        0 0 110px rgb(255, 0, 170),
        0 0 160px rgb(255, 0, 0)
    }

     20%, 40%, 60%, 80%{
     text-shadow: none;
    }
}