body{
    background-color: antiquewhite;
}

.content img{
    height:200;width:200;
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
}
p{
   font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
h1{
    text-align: center;
    color: black;
    animation: flicker 1.5s infinite alternate;
}
p{
    text-align: center;
    color: black;
}
.pic1{
    height: 300px;
    width: 200;
    align-items: center;
}
.pic2{
    height:300;width:400px;
}
#home{
    height: 750px;
}
#gallery{
    height: 100%;
    background-color: bisque;
}
#environment{
    height: 100%;
    background-color: aqua;
}